<div class="jumbotron">
  <h3 class="mb20">Riscure优秀学生奖学金（2位）</h3>
  <p>
    作为PANDA的赞助商，Riscure将提供两份优秀学生奖学金。
    Riscure将为奖学金获得者报销注册费、差旅及住宿费用。所有高校、科研机构的全职硕士、博士生都可以申请。
  </p>
  <p>
    请在10月11日（北京时间23:59）前将学生证照片、个人简历和研究方向（英语）、申请理由（英语，并附带导师签字）发送到以下邮件：<a href="mailto:fanjunfeng@gmail.com">fanjunfeng@gmail.com</a>（抄送：marzec@riscure.com）
  </p>
  <p>
    Riscure将在北京时间2014年10月15日前通过邮件通知遴选结果。
  </p>
  <em class="text-muted">Riscure对奖学金事务具有最终解释权。</em>
</div>
